$textColorPrim: rgb(200, 200, 200);
$textColorSec: rgb(150, 150, 150);
$backColor: rgb(15, 15, 15);
$divider: rgb(75, 75, 75);
$white: rgb(256, 256, 256);
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: $backColor;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: $backColor;
}
body::-webkit-scrollbar-thumb {
  background: $textColorSec;
}
.header {
  display: flex;
  padding: 2rem;
  margin: 2rem 6rem;
  justify-content: space-around;
  border-bottom: 1px solid $divider;
  color: $textColorSec;
  &__left h1 {
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: lighter;
    color: $textColorPrim;
  }
  &__left span {
    font-weight: bold;
  }
  nav {
    .header__avatar {
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }
  }
}
@media (max-width : 500px) {
  .header {
    margin: 1rem;
    &__left h1 {
      font-size: 1.5rem;
    }
  }
}
.home {
  margin: 4rem 6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  &__screen {
    background-color: white;
    color: black;
    display: flex;
    color: $white;
    align-items: center;
    justify-content: center;
  }
  &__typed {
    color: black;
  }
}

@media (max-width: 450px) {
  .home {
    margin: 0;
  }
}

.card {
  display: flex;
  margin-bottom: 3rem;
  margin-right: 3rem;
  justify-content: space-around;
  overflow: hidden;
  &__frame {
    height: 600px;
    overflow: hidden;
    img {
      overflow: hidden;
    }
  }
  &__header {
    margin-left: 1rem;
    text-transform: uppercase;
    border-left: 2px solid $divider;
    color: $white;
    overflow: hidden;
    padding: 0.6rem 1rem;
    width: fit-content;
    height: fit-content;
    h1 {
      font-size: 2rem;
      font-weight: lighter;
    }
    p {
      font-weight: bolder;
    }
  }
  &__details {
    color: $white;
  }
}

@media (max-width: 720px) {
  .card {
    width: 100%;
    margin-right: 0.3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 1rem;
    }
    &__frame {
      height: 320px;
      width: 391px;
    }
  }
}

.details {
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  color: $textColorPrim;
  align-items: center;
  header {
    text-transform: uppercase;
    font-size: 3rem;
    padding: 1rem;
    display: flex;
  }
  &__headerF,
  &__headerS {
    display: flex;
    z-index: -1;
  }
  &__screen {
    font-size: 6rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__frame {
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3rem;
    img {
      width: 1920px;
    }
  }
  &__text {
    h1 {
      border-bottom: 1px solid $divider;
      margin-bottom: 1rem;
      padding: 1rem;
      font-weight: lighter;
    }
    padding: 1rem 1rem;
    background-color: rgba(30, 30, 30, 0.4);
    backdrop-filter: blur(40);
    font-weight: lighter;
    margin-bottom: 3rem;
  }
  &__container {
    position: relative;
    margin-top: 3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
  }
  &__gmap {
    position: absolute;
    z-index: 555;
    top: 15px;
    left: 15px;
    text-decoration: none;
    color: $backColor;
    background-color: rgba(30, 30, 30, 0.8);
    color: $textColorPrim;
    padding: 0.3rem 1rem;
    transition: all 0.3s;
  }
  &__gmap:hover ~ &__map {
    filter: blur(2px);
  }
  &__map {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    left: 0;
    transition: all 0.6s;
  }
}
@media (max-width:500px) {
  .details {
    padding: 1rem;
    font-size: 0.6rem;
    header {
      font-size: 1.2rem;
      padding: 0.3rem;
    }
    &__frame {
      img {
        width: 700px;
      }
    }
  }
}
